# Игнорируем директорию в любой директории проекта
node_modules/
test-proxy.js
.vercel

# Environment variables
.env
.env.* 
# игнорирует .env.local, .env.production, и т.д.   
!.env.example  
# но можно оставить пустой шаблон для примера
